<div class="container__nav-bar">
  <div class="nav-bar-title">
    <h1>DevStore</h1>
  </div>
  <div class="nav-bar-search">
    <input type="text" />
    <img
      src="https://img.icons8.com/ios/50/search--v1.png"
      alt="search"
      width="30px"
    />
  </div>
  <div class="nav-var-favorites-cart-login">
    <a href="">
      <img
        src="https://img.icons8.com/puffy-filled/32/test-account.png"
        alt="account"
        width="40px"
      />
    </a>
    <a href="">
      <img
        src="https://img.icons8.com/material-rounded/24/like--v1.png"
        alt="favorites"
        width="40px"
      />
    </a>
    <a href="" class="cart-store">
      <img
        src="https://img.icons8.com/ios-filled/50/add-shopping-cart.png"
        alt="cart-store"
        width="40px"
      />
      <p>10</p>
    </a>

  </div>
</div>
